<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="false">
	<!-- Agoda Resv Download task begin -->
	<bean id="agodaDlResvTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="agodaDljobDetail" />
		<!-- 60 seconds -->
		<property name="startDelay" value="60000" />
		<!-- repeat every 600 seconds -->
		<property name="repeatInterval" value="1200000" />
	</bean>

	<bean id="agodaDljobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.thayer.idsservice.task.download.ResvDownloadBaseTask</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="downLoadService">
					<ref bean="agoda_downLoadService"/>
				</entry>
				<entry key="mailService">
					<ref bean="mailService"/>
				</entry>
				<entry key="mapService">
					<ref bean="mapService"/>
				</entry>
				<entry key="eordermailInfoService">
					<ref bean="eordermailInfoService"/>
				</entry>
				<entry key="thirdIataCode">
					<value>${agoda.iataCode}</value>
				</entry>
				<entry key="iata">
					<value>${agoda.iata}</value>
				</entry>
				<entry key="iataName">
					<value>${agoda.iataName}</value>
				</entry>
				<entry key="timeoutRecover4ThirdService">
					<ref bean="agoda_timeoutRecover4ThirdService"/>
				</entry>
				<entry key="timeoutRecover4FogService">
					<ref bean="agoda_timeoutRecover4FogService"/>
				</entry>
				<entry key="alertMailList">
					<list>
						<value>${agoda.resvMail.add1}</value>
						<value>${agoda.resvMail.add2}</value>
					</list>
				</entry>			
			</map>
		</property>
	</bean>
	<!-- Agoda Resv Download task end -->
	
	<!-- Agoda update check task begin -->
	<bean id="agodaRsCheckTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="agodaRsCheckDetail" />
		<!-- 120 seconds -->
		<property name="startDelay" value="120000" />
		<!-- repeat every 360 seconds -->
		<property name="repeatInterval" value="600000" />
	</bean>
	
	<bean id="agodaRsCheckDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.thayer.idsservice.task.check.RsStatusCheckTask</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="emsgLogDAO">
					<ref bean="emsgLogDAO"/>
				</entry>
				<entry key="mailService">
					<ref bean="mailService"/>
				</entry>
				<entry key="alertMailList">
					<list>
						<value>${agoda.update.add1}</value>
						<value>${agoda.update.add2}</value>
					</list>
				</entry>
				<entry key="thirdIataCode">
					<value>${agoda.iataCode}</value>
				</entry>
				<entry key="iata">
					<value>${agoda.iata}</value>
				</entry>
				<entry key="iataName">
					<value>${agoda.iataName}</value>
				</entry>
				<entry key="msgStatus">
					<value>${agoda.msgStatus}</value>
				</entry>
				<entry key="intervalMinutes">
					<value>${agoda.intervalMinutes}</value>
				</entry>
				<entry key="checkService">
					<ref bean="agoda_rsCheckService"/>
				</entry>
			</map>
		</property>
	</bean>
	<!-- Agoda update check task end -->
</beans>
