<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://activemq.apache.org/schema/core classpath:schema/activemq-core-5.5.0.xsd"
	default-autowire="byName">
    <amq:connectionFactory id="jmsConnectionFactoryBookingcom" brokerURL="${mq.receive.brokerURL}" />
    <amq:connectionFactory id="jmsConnectionFactoryBookingcom2" brokerURL="${mq.receive.brokerURL}" />
    <amq:connectionFactory id="jmsConnectionFactoryBookingcom3" brokerURL="${mq.receive.brokerURL}" />

	<!--  ActiveMQ destinations  -->
	<amq:queue name="Bookingcom_ReceiveDestination" physicalName="${bookingcom.mq.receive.queue.name}" />
	<amq:queue name="Bookingcom2_ReceiveDestination" physicalName="${bookingcom2.mq.receive.queue.name}" />
	<amq:queue name="Bookingcom3_ReceiveDestination" physicalName="${bookingcom3.mq.receive.queue.name}" />
	
	<!--  Message Driven POJO (MDP) -->
	<!-- consumer for queue -->
	<bean id="Bookingcom_queueConsumer" class="com.thayer.idsservice.task.update.UpdateBaseTask">
		<property name="updateService">
			<ref bean="bookingcom_updateService" />
		</property>
		<property name="thirdIataCode">
			<value>${bookingcom.iataCode}</value>
		</property>
		<property name="alertMailList">
			<list>
				<value>${bookingcom.update.add1}</value>
				<value>${bookingcom.update.add2}</value>
			</list>
		</property>
		<property name="iata">
			<value>${bookingcom.iata}</value>
		</property>
		<property name="iataName">
			<value>${bookingcom.iataName}</value>
		</property>
		<property name="timeoutRecover4ThirdService">
			<ref bean="bookingcom_timeoutRecover4ThirdService" />
		</property>
	</bean>

	<!-- Message Listener for  -->
	<bean id="Bookingcom_queueListener"
		class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="Bookingcom_queueConsumer" />
		<!--  may be other method -->
		<property name="defaultListenerMethod" value="onMessage" />
	</bean>

	<!--  listener container，MDP无需实现接口 -->
	<bean id="Bookingcom_queueListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<!-- 
		<property name="concurrentConsumers">
			<value>1</value>
		</property>
		 -->
		<property name="connectionFactory" ref="jmsConnectionFactoryBookingcom" />
		<property name="destination" ref="Bookingcom_ReceiveDestination" />
		<property name="messageListener" ref="Bookingcom_queueListener" />
	</bean>
	
	<bean id="Bookingcom2_queueListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<!-- 
		<property name="concurrentConsumers">
			<value>1</value>
		</property>
		 -->
		<property name="connectionFactory" ref="jmsConnectionFactoryBookingcom2" />
		<property name="destination" ref="Bookingcom2_ReceiveDestination" />
		<property name="messageListener" ref="Bookingcom_queueListener" />
	</bean>
	
	<bean id="Bookingcom3_queueListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<!-- 
		<property name="concurrentConsumers">
			<value>1</value>
		</property>
		-->
		<property name="connectionFactory" ref="jmsConnectionFactoryBookingcom3" />
		<property name="destination" ref="Bookingcom3_ReceiveDestination" />
		<property name="messageListener" ref="Bookingcom_queueListener" />
	</bean>


</beans>